@charset "ISO-8859-1";
 h1, h3{
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: start;
}

p {
	font-size: 18px;
	color: #333;
	text-align: start;
}

.toggleButton {
	background-color: #5da6da;
	margin: "5em";
}

#containerGeneral {
  display: flex;
  flex-direction: column; /* Imposta la direzione dei div interni come "column" */
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 1em;
  position: relative;
  margin-top: 5%;
  height: 150px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#containerCheckboxElement1, #containerCheckboxElement2 {
  display: block; 
  text-align: center; 
  margin-bottom: 10px; 
}

#containerCheckboxElement1 p, #containerCheckboxElement1 label {
  display: inline; 
}

#containerCheckboxElement1 p {
	margin-right: 2em;
}

.containerCompany{
	display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9F9F9;
  border-radius: 1em;
  position: relative;
  margin-top:1%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
}

.containerCompany button {
	text-align: right;
}
#companiesContainer {
	padding-top:2%;
	
	
}