<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lumanosimo&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
	rel="stylesheet" />
<script type="text/javascript" src="./static/main_functions.js"></script>
<script src="./static/manage_companies.js" type="text/javascript"></script>
<link href="./static/main_style.css" rel="stylesheet" type="text/css">
<link href="./static/manage_companies.css" rel="stylesheet"
	type="text/css">

<title>Companies</title>
</head>

<body>
	<div class="header">
		<div class="logo">
			<a href="./home.html" id="logo"><b>Beije Travels</b></a>
		</div>
		<div class="topnav" id="menu"></div>
	</div>
	<br>
	<script>
		generateMenu();
	</script>
	
	<br>
	<br>

	<div id="containerGeneral">
		<div id="containerCheckboxElement2">
			<label for="companyName"><b>Insert New Company:</b></label> <input
				id="createCompany" type="text" name="companyName" value="">
			<button onclick="addCompany()" class="toggleButton">Add</button>
		</div>
		<br>
		<div id="containerCheckboxElement1">
			<p>Filter by:</p>
			<input type="radio" name="option"
				onclick="filterCompany(this)" class="checkbox" value="disableAll"><label>Disable Only</label> 
			 <input type="radio" name="option"
				onclick="filterCompany(this)" class="checkbox" value="enableAll"><label>Enabled Only</label>
			<input type="radio" name="option"
				onclick="filterCompany(this)" class="checkbox" value="viewAll"
				checked><label>View All</label> 
		</div>

	</div>
	<h1 style="text-align: center">Companies</h1>
	<hr>
	<div id="companiesContainer">
	</div>
	<script>
		let companiesContainer = document.getElementById("companiesContainer");
		let token = localStorage.getItem("token");
		let companies = [];

		getAllCompanies();
	</script>
</body>
</html>